# Node modules and logs
node_modules
npm-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# OS / editor files
.DS_Store
*.swp
*.swo
*.bak
*.tmp

# IDE configs
.vscode/
.idea/

# Git files
.git
.gitignore

# Build outputs
dist/
coverage/
.nyc_output/

# Test reports
junit.xml

# Docker artifacts
*.tar
*.pid

# Jenkins artifacts
*.log
workspace/


